*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.item{
  color: darkblue;
  cursor: pointer;
}
.fimg{
  height: 60px;
}
a{
  text-decoration: none;
  color: inherit;
}
/* .card-shadow-sm:hover{
  box-shadow: 1px 1px 15px black;
  transform: scale(1.1);
  transition: transform 100ms linear;

} */